* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 50px auto;
}

input#newList {
  padding: 15px;
  width: 400px;
  border: 2px solid #e7e7e7;
  border-radius: 4px;
}

button {
  width: 80px;
  padding: 15px;
  color: #ff3b09;
  font-family: "Nunito";
  border: 1px solid #ff3b09;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
button:hover {
  background-color: #ff3b09;
  color: #fff;
}
ul#list li {
  list-style-type: none;
  font-size: 24px;
  font-family: "Source Code Pro";
  text-transform: uppercase;
  padding: 10px;
}
